@charset "utf-8";

		:root{
			--main-border-color: gray;
			--error-border-color: red;
		}

		html,body{
			margin: 0;
			padding: 0;
			font-size: 14px;
		}
		
		body{
			padding: 15px;
		}
		
		#sendresult{
			align-items: center;
			border: var(--main-border-color);
			color: #000;
			padding: 15px;
			margin-bottom: 10px;
			border-radius: 5px;
			display: none;
		}
	
		.invalid #sendresult,
		.result #sendresult {
			display: flex;
		}
		
		.invalid #sendresult{
			border: 1px solid var(--error-border-color);
			color: red;
		}
		
		#sendlink + button ,
		#sendlink {
			box-sizing: border-box;
		}
		
		#sendlink{
			width: calc(100% - 120px);
			height: 34px;
			line-height: 34px;
			padding: 0 15px;
			border: 1px solid var(--main-border-color);
			border-radius: 5px;
		}
		
		#sendlink + button {
			width: 100px;
			line-height: 34px;
			height: 34px;
			text-align: center;
			background: #fff;
			outline: none;
			user-select: none;
			border-radius: 5px;
			border: 1px solid var(--main-border-color);
			box-shadow: none;
			cursor: pointer;
			overflow: hidden;
			white-space: nowrap;
		}
		
		.invalid input{
			border: 1px solid var(--error-border-color);
		}
		
		.sendlink{
			display: flex;
			justify-content: space-between;
		}
		
		@media (max-width: 767px){
			
			#hide-mobile{
				display: none;
			}
			
			#sendlink + button{
				width: 60px;
				font-size: 12px;
			}
			
			#sendlink{
				width: calc(100% - 80px);
				font-size: 12px;
			}
		}